@model IEnumerable<DTOs.ProgressCheckDTO>
@{
    ViewBag.Title = "IndexTest";
    Layout = "~/Views/Layout/Home.cshtml";
}
<div class="uk-container">
    <div class="uk-grid">
        <div class="uk-width-1-3">
            <table class="uk-table">
                <tbody>
                    <tr>
                        <td><label>Origin</label></td>
                        <td>
                            <div class="uk-form-select" data-uk-form-select>

                                <select>
                                    <option value="">...</option>
                                    <option value="">...</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Origin Port</label></td>
                        <td>
                            <div class="uk-form-select" data-uk-form-select>
                                <span></span>
                                <select>
                                    <option value="">...</option>
                                    <option value="">...</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Factory</label></td>
                        <td>
                            <div class="uk-form-select" data-uk-form-select>
                                <span></span>
                                <select>
                                    <option value="">...</option>
                                    <option value="">...</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Supplier</label></td>
                        <td>
                            <div class="uk-form-select" data-uk-form-select>
                                <span></span>
                                <select>
                                    <option value="">...</option>
                                    <option value="">...</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Status</label></td>
                        <td>
                            <div class="uk-form-select" data-uk-form-select>
                                <span></span>
                                <select>
                                    <option value="">...</option>
                                    <option value="">...</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="uk-width-1-3">
            <table class="uk-table">
                <tbody>
                    <tr>
                        <td><label>Dept</label></td>
                        <td>
                            <div class="uk-form-select" data-uk-form-select>
                                <span></span>
                                <select>
                                    <option value="">...</option>
                                    <option value="">...</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>PO Number</label></td>
                        <td>
                            <input class="uk-input" type="text" placeholder="Input">
                        </td>
                    </tr>
                    <tr>
                        <td><label>Item</label></td>
                        <td>
                            <input class="uk-input" type="text" placeholder="Input">
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="uk-width-1-3">
            <table class="uk-table">
                <tbody>
                    <tr>
                        <td>
                            <button style="height:50px;width:150px" class="uk-button uk-button-primary" type="button" data-uk-button><span class="uk-margin-small-right" uk-icon="search"></span>Search</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button style="height:50px;width:150px" class="uk-button uk-button-danger" type="button" data-uk-button><span class="uk-margin-small-right" uk-icon="check"></span>Archive</button>

                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
@foreach (var item in Model)
{
    <div class="uk-container" style="margin-top:50px">
        <table @*class="uk-table"*@ border="1">
            <thead style="color:white">
                <tr style="background-color:#333">
                    <td>
                        Supplier
                    </td>
                    <td>
                        Factory
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@item.Supplier</td>
                    <td>@item.Factory</td>
                </tr>

            </tbody>
        </table>
        <table @*class="uk-table"*@ border="1">
            <thead style="color:white">
                <tr style="background-color:#333">
                    <td>
                        PO Number
                    </td>
                    <td>
                        PO Quantity
                    </td>
                    <td>
                        PO Check Quantity
                    </td>
                    <td>
                        PO Ship Date
                    </td>
                    <td>
                        Inspection Date
                    </td>
                    <td>
                        Int Ship Date
                    </td>
                    <td>
                        PO Quantity Complete
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@item.PONumber</td>
                    <td>@item.POQuantity</td>
                    <td>@item.POCheckQuantity</td>
                    <td>@item.ShipDate</td>
                    <td>
                        <input width="247" type="date" value="@item.InspectionDate.ToString()">
                    </td>
                    <td>
                        <input width="247" type="date" value="@item.IntendedShipDate.ToString()">
                    </td>
                    <td>@item.Complete</td>
                </tr>

            </tbody>
        </table>
        <table @*class="uk-table"*@ border="1">
            <thead style="color:white">
                <tr style="background-color:#333">
                    <td></td>
                    <td>
                        Item Number
                    </td>
                    <td>
                        Item Quantity
                    </td>
                    <td>
                        Revise Quantity
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var j in item.ListOrderDetail)
                {
                    <tr>
                        <td><input class="uk-checkbox" type="checkbox"></td>

                        <td>@j.Id</td>
                        <td>@j.Quantity</td>
                        <td>
                            <input width="247" type="text" value="">
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
<br />


